@page "/materiais/cadastro/{Id:int?}" 
@rendermode InteractiveServer 
@inject IJSRuntime JS
@inject RecicladorBlazor.Services.MaterialServices MaterialServices 
@inject ILocalStorageService LocalStorage 
@inject NavigationManager Navigation 
@using RecicladorBlazor.Models 
@using Blazored.LocalStorage; 

<h3 style="color: #3ca130; font-size: 40px; font-weight: bold;">
    @(material.Id == 0 ? "Cadastrar Material" :"Editar Material")</h3>

@if(material.Id != 0)
{
    <div class="mb-3">
        <label>Id:</label>
    <InputNumber TValue="int" @bind-Value="material.Id" readonly="readonly" class="form-control input-readonly" />
    </div>
}
<EditForm Model="@material" OnValidSubmit="CadastrarMaterial"> 
    <DataAnnotationsValidator /> 
    <ValidationSummary /> 
    <div class="mb-3"> 
        <label>Nome:</label> 
        <InputText @bind-Value="material.Nome" class="form-control" /> 
    </div> 
    <div class="mb-3"> 
        <label>Peso:</label> 
        <InputNumber @bind-Value="material.Peso" class="form-control" /> 
    </div> 
    <div class="mb-3"> 
        <label>Valor por peso:</label> 
        <InputNumber @bind-Value="material.ValorPorPeso" class="form-control" /> 
    </div> 
     <div class="mb-3"> 
        <label>Tipo de material:</label> 
        <InputSelect @bind-Value="material.TipoMaterial" class="form-control">
            <option value="0">---Selecione---</option> 
            @foreach (var item in Enum.GetValues(typeof(RecicladorBlazor.Models.Enuns.ClasseEnum))) 
            { 
                <option value="@item">@item</option> 
            } 
        </InputSelect> 
    </div>     
    <button type="submit" class="btn btn-primary">
        @(material.Id == 0? "Cadastrar" : "Salvar alterações")
    </button>     
    <a href="materiais/index" class="btn btn-warning">Retornar</a> 
</EditForm> 

    @code {
    private MaterialViewModel material = new MaterialViewModel();

    private List<MaterialViewModel> lista = new List<MaterialViewModel>();
    private string mensagem = string.Empty;
    private string mensagemErro = string.Empty;

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    try
    {
        if (firstRender)
        {
            if (Id.HasValue && Id > 0)
            {
                var token = await LocalStorage.GetItemAsync<string>("UsuarioToken");
                material = await MaterialServices.GetByIdAsync(token, Id.Value);

                if (material == null)
                {
                    mensagemErro = "Material não encontrado!";
                    material = new();
                }
            }

            StateHasChanged();
        }
    }
    catch (Exception ex)
    {
        mensagemErro = ex.Message;
    }
}

    private async Task CadastrarMaterial()
    {
        try
        {
            var token = await LocalStorage.GetItemAsync<string>("UsuarioToken");
                
            if(material.Id == 0)
            {
                var retorno = await MaterialServices.InsertAsync(token, material);
                mensagem = (material.Id != 0) ? "Material registrado com sucesso!" : "Falha na operação";
                await JS.InvokeVoidAsync("alert", new[] { mensagem });
            }
            else
            {
                var retorno = await MaterialServices.EditAsync(token, material);
                mensagem = (retorno != 0) ? "Material atualizado com sucesso!" : "Nenhuma atualização";
                await JS.InvokeVoidAsync("alert", new[] { mensagem });
            }

            Navigation.NavigateTo("/material/index");
        }
        catch (Exception ex)
        {
            mensagemErro = ex.Message;
        }
    }
}